.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.imageContainer {
    width: 100%;
    background-color: red;
}

.image {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.form {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
}

.sameLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    color: var(--w);
    margin-bottom: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-transform: uppercase;
}

.block {
    display: flex;
    flex-direction: column;
}

input {
    background-color: var(--c5);
    border-radius: 10px;
    height: 35px;
    width: 100%;
}
