.container {
    width: 116px;
    height: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--c3);
}

.button {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--c1);
    background-color: var(--c5);
}

.quantity {
    color: var(--c1);
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.button:focus {
    color: var(--l3);
}
