.container {
    background-color: var(--c5);
    margin-bottom: 10px;
    height: 60px;
    border-radius: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
}

.title {
    padding-left: 20px;
    color: var(--c1);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
